<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <h1>About Me</h1>
  <p>My name is Baran Akhavan-Yekta</p>
  
  <h2>My Background</h2>
  <p>I am currently a student attending Georgian College for the field of Computer Programming. 
    I am Persian, therefore I speak fluent Persian/ Farsi. My family and I will
    be moving to Miami, Florida within the next 2 years! I am hoping to continue my 
    studies at a University there. </p>
  
  <h2>My Skills</h2>
  <p>Some of my skills include:</p>
  <ul>
    <li>Problem solving</li>
    <li>Communication</li>
    <li>Writing</li>
  </ul>
  
  <h2>My Education</h2>
  <p>I went to a private school in Iran up until the fourth grade. I attended
    an elementary school in Toronto for grade four. We then moved to Newmarket where
    I completed grade five up until second semester of grade nine. As for now,
    I have been in Barrie since second semester of grade 9! I graduated from Innisdale
    Secondary School with honour rolls and great people!</p>
  
  <h2>My Interests</h2>
  <p>Outside of work and school, I enjoy:</p>
  <ul>
    <li>Exploring/ traveling</li>
    <li>Swimming</li>
    <li>Gaming</li>
    <li>Shopping</li>
    <li>Spending time with family and friends</li>
    <li>Driving</li>
  </ul>
</body>
</html>