<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>About Me</h1>
    </header>

    <section class="main-content">
      <div class="container">
        <div class="about-section">
          <img
            src="/images/aboutme.png"
            alt="About Me Image"
            class="about-image"
          />
          <div class="about-details">
            <h2>My Background...</h2>
            <p>I am currently a student attending Georgian College for the field
              of Computer Programming and I am in my fourth semester.</p>
            <p>I am Persian and I speak fluent Farsi. My family and I will be
              moving to Miami, Florida within the next two years! I am hoping to
              continue my studies at a University there.</p>
            <p>I have two loving parents, and a younger sister. She is six years
              younger than me, and I am beyond thankful for my family!</p>

            <div class="skills">
              <h2>My Skills...</h2>
              <ul>
                <li class="skill-item">Problem solving</li>
                <li class="skill-item">Writing</li>
                <li class="skill-item">Communication</li>
                <li class="skill-item">Leadership</li>
                <li class="skill-item">Collaborative</li>
                <li class="skill-item">Time management</li>
                <li class="skill-item">Problem Solving and Algorithms</li>
              </ul>
            </div>

            <div class="education">
              <h2>Education...</h2>
              <p>Currently pursuing Computer Programming at Georgian College
                (4th Semester)</p>
            </div>

            <div class="career-goals">
              <h2>Career Goals....</h2>
              <p>I aspire to pursue a career as a computer programmer. I am
                open-minded about the specific fields or positions within the
                realm of computer programming, but I do hold a particular
                interest in roles that involve design and advertisement. I have
                always enjoyed decorating/ designing. Whether that is
                architecturally, or expressing my love for design through a
                website. Ideally, I aim to secure a position in web development,
                where I can leverage my skills and creativity to contribute to
                projects and make a meaningful impact.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-contact">
            <h3>Contact Me</h3>
            <div class="social-links">
              <a href="mailto:200529109@student.georgianc.on.ca">
                <img src="/images/email.png" alt="Email" />
              </a>
              <a href="https://www.instagram.com/_baran.yekta/">
                <img src="/images/instagram.jpg" alt="Instagram" />
              </a>
              <a href="https://github.com/Baranyekta">
                <img src="/images/github.png" alt="GitHub" />
              </a>
              <a href="https://www.linkedin.com/in/baran-yekta-5b6172292/">
                <img src="/images/linkedin.png" alt="LinkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="privacy-policy">
          <p>Privacy Policy: This website collects and stores personal
            information you provide, such as your name and email address, when
            you contact us or submit a form. We use this information solely for
            communication purposes and do not share it with third parties. By
            using this website, you consent to the collection and use of your
            personal information as described in this policy.</p>
        </div>
        <p class="copyright">&copy; 2024 by Baran Akhavan-Yekta</p>
      </div>
    </footer>
  </body>
</html>