<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<header>
  <div class="container">
    <h1>Welcome to My Portfolio!</h1>
    <img src="/images/hello.png" alt="Hello Image" class="hello-image">
    <p>Hi there, my name is Baran Akhavan-Yekta and this is my personal
    portfolio website. Here you will find a little overview about me, 
    my projects, and my contact information. Feel free to explore any of
    the pages listed in the header above for a more in-depth understanding 
    of me, my projects, and a form to get in touch with me!</p>
  </div>
</header>
<section class="main-content">
  <div class="container">
    <div class="about-me">
      <h2>A Little Bit About Me...</h2>
    <div class="box">
      <p>I am currently 19 years old, with a passion in advancing my knowledge
        when it comes to coding! I enjoy decorating, baking, makeup, skiing, swimming,
        coding, and cleaning! I love spending time with my family and significant other. I
        am very family orientated individual. Learn more about me by exploring
        the About page located in the header!</p>
    </div>
  </div>
  </div>
  <div class="projects">       
    <h2>Some Projects...</h2>
    <div class="box">
      <p>Below are links to some of my favorite projects I loved doing. Locate to the Projects
        page to read about each of the projects below!
      </p>
      <div class="project-links">
      <a href="https://baranyekta.github.io/Java-Assignment3-200529109/">
        <img src="/images/project1.png" alt="Project 1">
      </a>
      <a href="https://baranyekta.github.io/Java-Lab2-200529109/">
        <img src="/images/project2.png" alt="Project 2">
      </a>
      <a href="https://baranyekta.github.io/Java-Assignment2-200529109/">
        <img src="/images/project3.png" alt="Project 3">
      </a>
    </div>
  </div>
</div>
  <div class="contact-info">
    <h2>Contact Me</h2>
    <div class="box">
      <p>
        I am excited to share my projects and experiences with you. Feel free to
        contact me if you have any questions. You can reach me via email at
        <a href="mailto:200529109@student.georgianc.on.ca">200529109@student.georgianc.on.ca</a>
        or send me a quick message through the Contact page. You can also connect with me on LinkedIn or GitHub:
      </p>
      <div class="social-links">
          <a href="https://www.linkedin.com/in/baran-yekta-5b6172292/">
            <img src="/images/linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/Baranyekta">
            <img src="/images/github.png" alt="GitHub">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-image">
        <img src="/images/footer.png" alt="Footer Image">
      </div>
      <div class="footer-contact">
        <h3>Contact Me</h3>
        <div class="social-links">
          <a href="mailto:200529109@student.georgianc.on.ca">
            <img src="/images/email.png" alt="Email">
          <a href="https://www.instagram.com/_baran.yekta/">
            <img src="/images/instagram.jpg" alt="Instagram"></a>
          <a href="https://github.com/Baranyekta">
            <img src="/images/github.png" alt="GitHub">
          </a>
          <a href="https://www.linkedin.com/in/baran-yekta-5b6172292/">
            <img src="/images/linkedin.png" alt="LinkedIn">
          </a>
        </div>
      </div>
    </div>
    <div class="privacy-policy">
      <p>Privacy Policy: This website collects and stores personal information you provide, 
        such as your name and email address, when you contact us or submit a form. We use this 
        information solely for communication purposes and do not share it with third parties. 
        By using this website, you consent to the collection and use of your personal information 
        as described in this policy.</p>
    </div>
    <p class="copyright">&copy; 2024 by Baran Akhavan-Yekta</p>
  </div>
</footer>