<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Welcome to My Portfolio - Home Page</h1>
    <p>Hi there, my name is Baran Akhavan-Yekta and this is my personal
      portfolio website. Here you will find information about me, my projects,
      and how to get in touch with me!</p>

    <h2>About Me</h2>
    <p>I am currently 19 years old, with a passion in advancing my knowledge
      when it comes to coding! I am interested in decorating, baking, makeup,
      coding, and cleaning! I need to be organized at all times or my head will
      implode haha I love spending time with my family and significant other. I
      am very family orientated individual. I moved to Canada about 12 years
      ago, I lived in Toronto for about a year, then Newmarket for 6 years, and
      I have officially been in Barrie for 5 years since a few days ago!</p>

    <h2>Projects</h2>
    <p>Below are some of my favorite projects I loved doing:</p>
    <ul>
      <li><a
          href="https://baranyekta.github.io/Java-Assignment3-200529109/"
        >Project 1</a></li>
      <li><a href="https://baranyekta.github.io/Java-Lab2-200529109/">Project 2</a></li>
      <li><a
          href="https://baranyekta.github.io/Java-Assignment2-200529109/"
        >Project 3</a></li>
    </ul>

    <h2>Contact Me</h2>
    <p>
      I am excited to share my projects and experiences with you. Feel free to
      contact me if you have any questions or opportunities. You can reach me
      via email at
      <a
        href="mailto:200529109@student.georgianc.on.ca"
      >200529109@student.georgianc.on.ca</a>
      or connect with me on LinkedIn and GitHub:
    </p>
    <ul>
      <li><a
          href="https://www.linkedin.com/in/baran-yekta-5b6172292/">LinkedIn</a></li>
      <li><a href="https://github.com/Baranyekta">GitHub</a></li>
    </ul>
  </body>
</html>