<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Some Fun Projects...</h1>

      <img
        src="/images/projects.png"
        alt="Projects Image"
        class="projects-image"
      />

      <div class="project">
        <h2>Pizza Order</h2>
        <p>Description: Users are represented with a pizza themed home page.
          This site enables users to place their favorite pizza order. Users can
          select their pizza size, crust type, sauce, dough, and toppings! Add
          it to cart and its yours! kinda... haha</p>
        <p>GitHub Repository:
          <a
            href="https://baranyekta.github.io/Java-Assignment3-200529109/"
            target="_blank"
          >Pizza Order Live Server Link</a></p>
      </div>

      <div class="project">
        <h2>RGB Color Maker</h2>
        <p>Description: This project enables users to adjust the range input to
          modify the RGB values of the background using sliders.</p>
        <p>GitHub Repository:
          <a
            href="https://baranyekta.github.io/Java-Lab2-200529109/"
            target="_blank"
          >RGB Color Maker Live Server Link</a></p>
      </div>

      <div class="project">
        <h2>Background Fun</h2>
        <p>Description: This site lets users freely play around with random
          numbers, selected background colors, random background colors, and
          background images.</p>
        <p>GitHub Repository:
          <a
            href="https://baranyekta.github.io/Java-Assignment2-200529109/"
            target="_blank"
          >Background Fun Live Server Link</a></p>
      </div>
    </div>
  </body>
</html>