<!-- views/privacyPolicy.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <!-- Your header content here -->
    </header>

    <main class="privacy-main">
        <h1 class="privacy-title">Privacy Policy</h1>
        <p class="privacy-text">This privacy policy outlines how at AssignMate, one of our main priorities is the privacy of our users and visitors. 
            This Privacy Policy document contains types of information that is collected and recorded by AssignMate and how we use it.
            If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
    </main>
</body>
</html>
