<!-- views/splash.hbs -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <!-- hero section -->
      <div class="hero-section">
        <h1>Get Your Work and Life in Order, at Last!</h1>
        <p>Introducing AssignMate, the ultimate task management application
          designed to manage your workflow, and better your life.
          <br />
          Say goodbye to chaos and hello to productivity!</p>
      </div>

      <!-- features section -->
      <div class="features-section">
        <div class="feature">
          <img src="/images/task.jpeg" alt="Easy Task Management" />
          <h2>Easy Task Management</h2>
          <p>Organize your tasks effortlessly with AssignMate.</p>
        </div>
        <div class="feature">
          <img src="/images/deadline.jpeg" alt="Deadline Reminders" />
          <h2>Deadline Reminders</h2>
          <p>Never miss a deadline again with our reminder feature.</p>
        </div>
        <div class="feature">
          <img src="/images/priority.jpeg" alt="Priority Settings" />
          <h2>Priority Settings</h2>
          <p>Set priorities for your tasks and stay focused.</p>
        </div>
      </div>

      <!-- additional text above the call-to-action btn -->
      <p class="additional-text">Join over 42 million individuals and teams who
        rely on AssignMate for their sanity, success, and productivity!</p>

      <!-- img below the additional text -->
      <img src="/images/joinus.jpeg" alt="Join Image" class="join-image" />

      <!-- call-to-action btn (might delete) -->
      <a href="/signup" class="cta-button">Join Us Today</a>
    </div>
    <script src="/javascript/navDrawer.js"></script>
  </body>
</html>